table {
    width: 100%;
  }
  .mat-column-select {
    overflow: initial;
  }
  li {
    list-style-type: none;
  }
 
.addbtn{
  float:right;
  margin-top: 37px;
    margin-right: 40px;
}  