

<h2>Create a Lead</h2>
<p>Please click below mention services of your interest to receive quotation for the same:</p>

<form class="example-form">
    
  
    
 <div *ngIf="!submitted">
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <mat-form-field >
      <mat-label>title name:</mat-label>
      <input matInput  [(ngModel)]="testtable.title" [ngModelOptions]="{standalone: true}" name="title" id="title">
    </mat-form-field>
</mat-grid-tile>
<mat-grid-tile >
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="testtable.description" [ngModelOptions]="{standalone: true}" name="description" id="description">
  </mat-form-field>
</mat-grid-tile>
  
   
  
    <mat-grid-tile>  
    <mat-form-field >
        <mat-label>Author</mat-label>
        <input matInput id="author" [(ngModel)]="testtable.author" [ngModelOptions]="{standalone: true}"  name="author">
      </mat-form-field>
    </mat-grid-tile> 

    <mat-grid-tile> 
      <mat-form-field >
        <mat-label>Status</mat-label>
        <input matInput   id="publish" [(ngModel)]="testtable.publish" [ngModelOptions]="{standalone: true}" name="publish">
      </mat-form-field>

    </mat-grid-tile> 
  
 
  </mat-grid-list>
  
</div>  
<mat-grid-list cols="2" >
  <mat-grid-tile>
    <button mat-raised-button type="submit" action="submit" class="subbtn" (click)="savetestingtable()">SUBMIT</button>

  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="clrbtn">CLEAR</button>

  </mat-grid-tile>
</mat-grid-list> 
   
       
   
    
  
</form>
