.example-form {
   
    width:80%;
  }
  
  .example-full-width {
    width: 40%;
    margin-left:60px;
  }
  form{
    width:100%;
  }
  .subbtn{
   
    padding:20px;
    border:1px solid grey;
    float:left;
    margin:5px;
  }
  .clrbtn{
    padding:20px;
    border:1px solid grey;
    margin:5px;
  }
  mat-form-field {
    width:80%;
    
  }
  .updwidth{
    margin-left:135px;
  }

 