.example-container {
    width: 100%;
    height: 100%;
   
   
  }
  
  .sidnav{
    background-color: rgb(15 23 42);
    color:rgb(241,245,249);
    width:12%;
    
    
  }
  .sidnav a{
    text-decoration: none;
    color:rgb(241,245,249);
   
    font-weight:10px;
    font-size: medium;
    
  }
  .sidenav li:hover{
    background:#e2e8f0;
    padding:4px; 
    border-radius:5px;
  }
  .sidnav li{
    list-style-type: none;
    padding-bottom: 10px;
  }
  .mat-drawer-container {
    background-color:white !important;
    color:black !important;
}