
<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>Update</strong></h1>
<div mat-dialog-content style="padding: 24px 13px 20px 24px !important;">
  <mat-form-field *ngIf="action !== 'Delete'; else elseTemplate" style="padding:4px">
    <mat-label>title name:</mat-label>
    <input  matInput [(ngModel)]="local_data.title">
  </mat-form-field>
  
  <mat-form-field *ngIf="action !== 'Delete'; else elseTemplate" style="padding:4px">
    <mat-label>description:</mat-label>
    <input  matInput [(ngModel)]="local_data.description">
  </mat-form-field>

  <mat-form-field *ngIf="action !== 'Delete'; else elseTemplate" style="padding:4px">
    <mat-label>author name:</mat-label>
    <input matInput [(ngModel)]="local_data.author">
  </mat-form-field>
  <mat-form-field *ngIf="action !== 'Delete'; else elseTemplate" style="padding:4px">
    <mat-label>status:</mat-label>
    <input  matInput [(ngModel)]="local_data.publish">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.title}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button (click)="updateData(local_data.id,local_data)" [mat-dialog-close]="true">
    <span >Update</span>
  </button>
  <button mat-button mat-flat-button color="warn" [mat-dialog-close]="false">Cancel</button>
</div>